@import url('https://use.typekit.net/grf6snf.css');

h1, h2, h3, h4, h5, h6 {
  font-family: "ff-good-headline-web-pro", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0.83em;
}

h2 {
  font-size: 36px;
  letter-spacing: 0em;
  line-height: 1.3em;
}

.ft_header_container {
  background: url(https://zoster.github.io/lcf-fcsuite/banner-slim.jpg) center top no-repeat;
  min-height: 300px;
}
.rtr-banner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  color: #fff;
}

.logo img {
  max-width: 135px;
  margin-top: 45px;
}

a.link-back {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  color: white;
  margin-top: 4em;
}

.btn {
  background-color: #42822b;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 14px 35px;
  border: none;
  transition: .1s opacity linear;
}

.btn:hover {
  opacity: .8;
  background-color: #42822b;
}

.ft_footer {
  background: #1f1f1f;
  padding: 90px 0;
  justify-content: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.ft_footer ul, 
.ft_footer a, 
.ft_footer p {
  font-size: 17px;
  color: #fff;
}

.ft_footer a {
  text-decoration: underline;
}

.ft_footer a:hover {
  text-decoration: none;
}

.ft_footer ul {
  padding: 0;
  list-style: none;
}

.ft_footer .col-md-12 {
  text-align: center;
}